{% assign col = include.collection | default: "articles" %}
<ul id="articlesList" class="articles-list">
  {% for a in site[col] %}
    <li
      class="articles-item"
      data-title="{{ a.title | escape }}"
      data-date="{% if a.date %}{{ a.date | date: '%Y-%m-%d' }}{% endif %}"
    >
      <a class="articles-link" href="{{ a.url | relative_url }}">{{ a.title }}</a>
      {% if a.date %}
        <div class="articles-meta">
          {{ a.date | date: "%Y-%m-%d" }}

          {% if a.label %}
            <span class="articles-label--tag">
              {{ a.label | escape }}
            </span>
          {% endif %}
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>