{% assign col = include.collection | default: "articles" %}
<ul id="articlesList" class="articles-list">
  {% for a in site[col] %}
    <li
      class="articles-item"
      data-title="{{ a.title | escape }}"
      data-date="{% if a.date %}{{ a.date | date: '%Y-%m-%d' }}{% endif %}"
    >
      <a class="articles-link" href="{{ a.url | relative_url }}" title="{{ a.title | escape }}">
        {{ a.title }}
      </a>

      <div class="articles-meta">
        {% if a.author1 %}
          <span class="authors">
            {{ a.author1 | escape }}{% if a.authors %} et al.{% endif %}
          </span>
        {% elsif a.authors %}
          <span class="authors">{{ a.authors | escape }}</span>
        {% endif %}

        {% if a.venue %}
          {% if a.author1 or a.authors %}<span class="sep">·</span>{% endif %}
          <span class="venue">{{ a.venue | escape }}</span>
        {% endif %}

        {% if a.date %}
          {% if a.author1 or a.authors or a.venue %}<span class="sep"><br></span>{% endif %}
          <span class="note-date">📅 {{ a.date | date: "%Y-%m-%d" }}</span>
        {% endif %}

        {% if a.label %}
          {% if a.date %}<span class="sep">·</span>{% endif %}
          <span class="a-tag">{{ a.label | escape }}</span>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>